/* Drawer item styles (chaitanya) */
body{
    
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
     
      
}
#drawer{
   width: 94%;
   height: auto;
  
   margin: 3%;
   

}

#drawer-item{
    width: 22.5%;
   height: auto;
   display: inline-block;
   margin-left: 1%;
   margin-right: 1%;

}
#col{
  margin-right: 1%;
  margin-left: auto;

}
#simi{
    width: 20px;
    height: 20px;
}
#img{
    width: 100%;
    height: auto;
}


#shoe-type{
    font-weight: 300;
    font-size: small;
    margin-bottom: 1px;
    display: inline-block;
}
#shoe-name{
    margin-top: 4px;
    margin-bottom: 5px;
    font-weight: 400;
}
#shoe-price{
    margin-top: 5px;
    font-weight: 600;
}



#logo{
    margin-left: 3vh;

}
#logo {
    margin-left: 3vh;
    margin-right: 7vh;
}

#category {
    display: flex;
    align-items: center; 
}

#category p {
    margin-right: 20px; 
    display: inline;
    margin-left: 1vh;
    opacity: 0.8;
    font-weight: bold;
}
#sale{
    color: rgb(235, 0, 0);
}
#search{
    margin-left: 20vh;
    opacity: 0.8;
    margin-right: 15px;
}
#border{
    margin-top: 10px;
    border-bottom: 1px solid black;
}
#last{
    border: none;
    padding: 11px;
    background-color: rgb(201, 25, 25);
    border-radius: 70px;
    color: white;
    font-size: 11px;
    box-sizing: border-box;
}
#store{
    font-size: 1px;
}

 /*  */
   

 header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}

#box {
    text-align: center;
    padding-top: 1px;
    background-color: black;
}

#box1 {
    height: 58px;
}

#advertisement {
    color: white;
    animation: floatLeftToRight 20s linear infinite; /* Adjust duration and animation type as needed */
}

@keyframes floatLeftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

#brands {
    background-color: #333;
    color: #fff;
    border-color: #333;
    float: left;
    margin-right: 10px;
}

#logo {
    float: right;
}